@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Application Development and Emerging Technology</h2>
    <div>
        @DateTime.Now.ToString()<br><br>
        
        <p>
            This is my sample TodoTask Application
        </p>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
